:root {
  --bgcolor: #023e73;
  --headcolor: #023059;
  --fontonecolor: #f2f2f2;
  --fonttwocolor: #4b83a6;
  --fontheader: "Staatliches", sans-serif;
  --fontgeneral: "Montserrat", sans-serif;
  --paddone: 10px;
}
