.game {
  display: flex;
  justify-content: space-between;
}

.menu {
  display: none;
  justify-content: space-between;
}

.logo {
  text-align: center;
}

.box {
  text-align: center;
  width: 100px;
}
